.carousel-wrapper {
  height: 500px;
  position: relative;
  width: 100%;
  display: block;
  border: none;
}

.carousel-item {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}
.arrow-prev {
  left: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}
.arrow-next {
  right: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

[id^="item"] {
  display: none;
}
.item-1 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  z-index: 2;
  opacity: 1;
  background: url("/Users/josepulido/GitHub/CURSOS/Web Development/FreeCodeCamp/Diseño Wen Responsivo/Product Landing Page/img/camelbak.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  justify-self: center;
  align-self: center;
}
.item-2 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  background: url("/Users/josepulido/GitHub/CURSOS/Web Development/FreeCodeCamp/Diseño Wen Responsivo/Product Landing Page/img/chaleco.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  justify-self: center;
  align-self: center;
}
.item-3 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  background: url("/Users/josepulido/GitHub/CURSOS/Web Development/FreeCodeCamp/Diseño Wen Responsivo/Product Landing Page/img/straps.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  justify-self: center;
  align-self: center;
}

*:target ~ .item-1 {
  opacity: 0;
}
#item-1:target ~ .item-1 {
  opacity: 1;
}
#item-2:target ~ .item-2,
#item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
}
